<footer class="shadow-[0_-6px_10px_0_rgba(255,255,255,0.5)]">
    <div class="footer-content">
        <p>&copy; 2025 All rights reserver to <span> WDDM-130: Group-2</span>.</p>
        <div class="Student-info">
            
            <ul class="footer-links">
                <li>Name: Manisha Sharma</li>
                <li>Student ID: N01716841</li>
                <li>College: HUMBER College, Toronto, Ontario, Canada</li>
            </ul>
            
            <ul class="footer-links">
                <li>Name: Ravi Kumar</li>
                <li>Student ID: N01719809</li>
                <li>College: HUMBER College, Toronto, Ontario, Canada</li>
                
            </ul>
            <ul class="footer-links">
                <li>Name: Gurjaap Singh</li>
                <li>Student ID: N01740892</li>
                <li>College: HUMBER College, Toronto, Ontario, Canada</li>
                
            </ul>
        </div>
    </div>
</footer>