<!-- <header class="drop-shadow-[0_8px_12px_rgba(255,255,255,0.5)]">
    <nav>
        <img src="/images/logo.png" alt="Manisha Logo" class="logo">
        <a href="/" <% if (currentRoute == "/") { %> class="text-fire-yellow active" <% } %>>Home</a> |
        <a href="/about" <% if (currentRoute == "/about") { %> class="text-fire-yellow active" <% } %>>About</a> |
        <a href="/contact" <% if (currentRoute == "/contact") { %> class="text-fire-yellow active" <% } %>>Contact</a> |
        <a href="/setting" <% if (currentRoute == "/setting") { %> class="text-fire-yellow active" <% } %>>Setting</a> |
        <a href="/login" <% if (currentRoute == "/login") { %> class="text-fire-yellow active" <% } %>>Login</a> |
        <a href="/signup" <% if (currentRoute == "/signup") { %> class="text-fire-yellow active" <% } %>>Sign Up</a> |
        <a href="/profile" <% if (currentRoute == "/profile") { %> class="text-fire-yellow active" <% } %>>Profile</a> 
        <hr/>
    </nav>
</header> -->